.blog-news{
    .news{
        &__item{
            position: relative;
            background-color: #0E6499;
            z-index: 1;
            &-title{
                z-index: 2;
                font-size: 23px;
                position: relative;
            }
            &-descr{
                z-index: 2;
                position: relative;
                & p{
                    font-size: 14px;
                    margin-top: 15px;
                    line-height: 21px;
                }
            }
        }
        &__img-bg{
            width: 471px;
            height: 100%;
            right: 0;
            top: 0;
            border-radius: 0 30px 30px 0;
            position: absolute;
            z-index: 1;
        }
    }
}
.blog__item-btn{
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    /* identical to box height */
    margin-top: 18px;
    letter-spacing: 0.005em;

    color: #323232;
    padding: 10px 22px;
    background-color: #fff;
    border-radius: 27px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background: #11415e;
        color: #fff;
    }
}