@use 'sass:math';

// Подключение шрифтов из папки "./src/fonts" =======================================================================================================================
@import 'config/fonts';



// Подключение переменных =======================================================================================================================
@import 'config/vars';

// Обнуление =======================================================================================================================
@import 'config/reset';

// Общие параметры, шаблоны(заготовки) и вспомагательные классы =======================================================================================================================
@import 'config/base';
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1315px;
    margin: auto;
    padding: 0 15px;
}
.container-2{
    max-width: 1145px;
    margin: auto;
    padding: 0 15px;
}
// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import 'layout/header';
@import 'layout/footer';
@import 'layout/main-page/intro';
@import 'layout/main-page/products-list';
@import 'layout/main-page/select-us';
@import 'layout/main-page/iso';
@import 'layout/page-about/about';
@import 'layout/advantages';
@import 'layout/single-product/single-products';
@import 'layout/single-industry/single-industry';
@import 'layout/page-partners/partners';
@import 'layout/page-news/news';
@import 'layout/page-blog/blog';
@import 'layout/page-delivery/delivery';
@import 'layout/privacy-policy/policy';
